<!DOCTYPE html>  
<html lang="en" dir="ltr">  
<head>  
    <meta charset="utf-8">  
    <title>Stroke Predictor</title>  
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> <!-- 假设您有一个名为favicon.ico的图标 -->  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">  
    <!-- 移除或替换其他不必要的外部链接，如字体和图标库，除非您确实需要使用它们 -->  
</head>  
<body>  
    <div class="container">  
        <h2 class="container-heading">Stroke Predictor</h2>  
        <div class="description">  
            <p>A Machine Learning Based Stroke Predictor Web App, Built with Flask.</p>  
        </div>  
    </div>  
  
    <div class="ml-container">  
        <form action="{{ url_for('predict_stroke') }}" method="POST">  
            <div class="description2"><p>Provide Your Details Below:</p></div>  
            <input class="form-input" type="text" name="id" placeholder="ID (optional)" /> <!-- ID通常是可选的，因为它不影响预测 -->  
            <input class="form-input" type="text" name="gender" placeholder="Gender (Male/Female)" required="required" />  
            <input class="form-input" type="text" name="age" placeholder="Age" required="required" />  

            <input class="form-input" type="text" name="hypertension" placeholder="hypertension" required="required" />  
            <input class="form-input" type="text" name="heart_disease" placeholder="heart_disease" required="required" />  
            <input class="form-input" type="text" name="ever_married" placeholder="ever_married" required="required" />  

            <input class="form-input" type="text" name="work_type" placeholder="Work Type" required="required" />  
            <input class="form-input" type="text" name="Residence_type" placeholder="Residence Type" required="required" />  
            <input class="form-input" type="number" name="avg_glucose_level" placeholder="Average Glucose Level" required="required" />  
            <input class="form-input" type="number" name="bmi" placeholder="BMI" required="required" />  

            <input class="form-input" type="stroke" name="stroke" placeholder="stroke" required="required" />  
               
            
            <br>  
            <input type="submit" class="my-cta-button" value="Predict Stroke Risk">  
        </form>  
    </div>  
  
    <!-- 预测结果显示区域（这部分通常由Flask后端通过渲染模板时传递的数据来填充） -->  
    <div class="prediction-result">  
        <p>{{ prediction_text }}</p> <!-- Flask后端应该传递一个名为prediction_text的变量到模板中 -->  
    </div>  
  
    <div class="footer">  
        <div class="contact">  
            <!-- 社交链接等 -->  
        </div>  
        <p class="footer-description">Made with ❤️ by [Your Name]</p>  
    </div>  
</body>  
</html>